/* styles.css */

/* ตั้งค่าภาพพื้นหลัง */
body {
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* การตั้งค่ารูปแบบการ์ด */
.card {
    background-color: white;
    border-radius: 20
}